<h1 style="color: white;">
  Избранное
</h1>

<div id="favourite">

  {{#if favourite.length}}

    <div id="items" class="row">

      {{! Карточка }}
      {{#each favourite}}

        <div class="item">

          <a href="/item/{{_id}}">

            <div class="card horizontal hoverable">

              {{#each img}}
                {{#ifeq @index 0}}
                  <div class="card-image my-card-image">
                    <img src="{{this}}" alt="{{title}}" />
                  </div>
                {{/ifeq}}
              {{/each}}

              <div class="card-stacked">

                <div class="card-content" style="font-size: 25px;">

                  <section class="section">

                    <div class="row">

                      <div class="col s6">
                        {{title}}
                      </div>

                      <div class="col s6 align-c price">
                        {{price}}
                      </div>

                    </div>

                    <div class="p10">

                      <li>
                        <span class="span_title">Тип</span>
                        <span class="span_text">{{type}}</span>
                      </li>

                      <li>
                        <span class="span_title">Площадь комнат</span>
                        <span class="span_text">{{space}} м²</span>
                      </li>

                      <li>
                        <span class="span_title">Комнат</span>
                        <span class="span_text">{{num_rooms}}</span>
                      </li>

                      <li>
                        <span class="span_title">Этаж</span>
                        <span class="span_text">{{level}}
                          из
                          {{total_level}}</span>
                      </li>

                      <li>
                        <span class="span_title">Ремонт</span>
                        <span class="span_text">{{repair}}</span>
                      </li>

                    </div>

                  </section>

                </div>

                <div class="card-action align-r">

                  <button
                    class="btn js-remove tooltipped transparent"
                    data-id="{{id}}"
                    data-position="bottom"
                    data-tooltip="Удалить из избранных"
                  >
                    <i
                      class="fa-solid fa-heart-circle-xmark"
                      style="color: #b71c1c;"
                    ></i>
                  </button>

                </div>

              </div>

            </div>

          </a>
        </div>

      {{/each}}

    </div>

  {{else}}
    <section class="my_container align-c">
      <h5 class="m100">Избранных объявлений пока нет</h5>
    </section>
  {{/if}}

</div>