<div class="my_container">

  <h3 class="title">За недвижимостью – в Тихий дом</h3>

  <div class="filter">

    {{! Тип недвижимости }}
    <div class="myContainer">
      <div class="input-field m0">
        <select id="type" name="type">
          <option value="" disabled selected>Тип недвижимости</option>
          <option value="Все">Все</option>
          {{#each type}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    {{!  }}

    {{! Кол-во комнат }}
    <div class="myContainer">
      <div class="input-field m0">
        <select id="num_rooms" name="num_rooms">
          <option value="" disabled selected>Кол-во комнат</option>
          <option value="Все">Все</option>
          {{#each num_rooms}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    {{!  }}

    {{! Кол-во комнат }}
    <div class="myContainer">
      <div class="input-field m0">
        <select id="repair" name="repair">
          <option value="" disabled selected>Ремонт</option>
          <option value="Все">Все</option>
          {{#each repair}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    {{!  }}

    {{! Цена }}
    <div class="myContainer price_css">

      {{! Нижняя цена }}
      <div class="input-field m0">
        <input
          id="price_lower"
          name="price_lower"
          placeholder="Цена от"
          type="number"
          class="validate"
        />
      </div>
      {{!  }}

      <label class="mh10">–</label>

      {{! Верхняя цена }}
      <div class="input-field m0">
        <input
          id="price_upper"
          name="price_upper"
          placeholder="до"
          type="number"
          class="validate"
        />
      </div>
      {{!  }}

    </div>
    {{!  }}

    {{! Кнопка }}
    <button class="btn btn-primary blue mh10" onclick="filter()">
      Показать
    </button>
    {{!  }}

  </div>

</div>

{{! Кол-во объявлений }}
{{#if items.length}}

  <h4 style="color: white;">
    Найдено
    {{items.length}}
    объявлений(я)
  </h4>

  <div id="items" class="row">

    {{! Карточка }}
    {{#each items}}

      <div class="item">

        <a href="/item/{{_id}}">

          <div class="card horizontal hoverable">

            <div class="card-image my-card-image">
              <img src="{{img.[0]}}" alt="{{title}}" />
            </div>

            <div class="card-stacked">

              <div class="card-content" style="font-size: 25px;">

                <section class="section">

                  <div class="row">

                    <div class="col s6">
                      {{title}}
                    </div>

                    <div class="col s6 align-c price">
                      {{price}}
                    </div>

                  </div>

                  <div class="p10">

                    <li>
                      <span class="span_title">Тип</span>
                      <span class="span_text">{{type}}</span>
                    </li>

                    <li>
                      <span class="span_title">Площадь комнат</span>
                      <span class="span_text">{{space}} м²</span>
                    </li>

                    <li>
                      <span class="span_title">Комнат</span>
                      <span class="span_text">{{num_rooms}}</span>
                    </li>

                    <li>
                      <span class="span_title">Этаж</span>
                      <span class="span_text">{{level}}
                        из
                        {{total_level}}</span>
                    </li>

                    <li>
                      <span class="span_title">Ремонт</span>
                      <span class="span_text">{{repair}}</span>
                    </li>

                  </div>

                </section>

              </div>

            </div>

          </div>

        </a>
      </div>

    {{/each}}

  </div>

  {{!  }}

{{else}}
  <section class="my_container align-c m10-t">
    <h5 class="m100">Объявлений пока нет</h5>
  </section>

{{/if}}