<div class="row my_row">

  <div class="my_container col s8">

    {{!  }}
    <section class="section ph30">
      <h4>{{item.title}}, {{item.space}} м² </h4>
    </section>
    {{!  }}

    {{!  }}

    {{#if @root.isAuth}}
      <section class="section ph30">

        <form action="/favourite/add" method="POST">
          <input type="hidden" name="id" value="{{item._id}}" />
          <button
            class="btn tooltipped transparent m10"
            type="submit"
            onclick="M.toast({html: 'Добавлено в избранное'})"
            data-id="{{item._id}}"
            data-position="bottom"
            data-tooltip="В избранное"
            style="display: flex;"
          >
            <i
              class="fa-solid fa-heart-circle-plus"
              style="color: #e91e63;"
            ></i>
            <div class="mh10" style="color: black;">В избранное</div>
          </button>
        </form>

      </section>
    {{/if}}
    {{!  }}

    <div class="divider m10"></div>

    {{!  }}
    <section class="section p30">
      <div class="owl-carousel owl-theme">
        {{#each item.img}}
          <img src={{this}} />
        {{/each}}
      </div>
    </section>
    {{!  }}

    {{!  }}
    <div class="divider m10"></div>

    <section class="section p30">

      <h5>Общая информация</h5>

      <div class="p10">

        <li>
          <span class="span_title">Тип</span>
          <span class="span_text">{{item.type}}</span>
        </li>

        <li>
          <span class="span_title">Площадь комнат</span>
          <span class="span_text">{{item.space}} м²</span>
        </li>

        <li>
          <span class="span_title">Комнат</span>
          <span class="span_text">{{item.num_rooms}}</span>
        </li>

        <li>
          <span class="span_title">Этаж</span>
          <span class="span_text">{{item.level}} из {{item.total_level}}</span>
        </li>

        <li>
          <span class="span_title">Ремонт</span>
          <span class="span_text">{{item.repair}}</span>
        </li>

      </div>

    </section>
    {{!  }}

    <div class="divider m10"></div>

    {{!  }}
    <section class="section p30">
      <h5>Описание квартиры</h5>

      <li class="p10">
        <span>{{item.description}}</span>
      </li>

    </section>
    {{!  }}

  </div>

  <div class="my_container col s4 m10-l">

    <section class="section p30">

      <span class="span_title">Интересовались {{item.views_num}} раз</span>

      <h4 class="price">{{item.price}}</h4>

      <span class="span_title">{{avg_price}} ₽/м²</span>

      <div class="divider m10"></div>

      <ul class="collapsible">
        <li>
          <div class="collapsible-header">Показать почту</div>
          <div class="collapsible-body"><span>q@mail.ru</span></div>
        </li>
      </ul>



    </section>

  </div>

</div>