<h1 style="color: white;">
  Мои объявления
</h1>

{{#if items.length}}

  <div id="items" class="row">

    {{! Карточка }}
    {{#each items}}

      <div class="item">

        <a href="/item/{{_id}}">

          <div class="card horizontal hoverable">

            <div class="card-image my-card-image" style="position: relative;">

              {{#each img}}
                {{#ifeq @index 0}}
                  <img src="{{this}}" alt="{{title}}" />
                {{/ifeq}}
              {{/each}}

              {{! Статус объявления }}

              {{#ifeq status "проверяется"}}
                <div
                  class="circularContainer absolute"
                  style="background-color: #2196f3;"
                >
                  {{status}}
                </div>
              {{/ifeq}}

              {{#ifeq status "одобрено"}}
                <div
                  class="circularContainer absolute"
                  style="background-color: #009688;"
                >
                  {{status}}
                </div>
              {{/ifeq}}

              {{#ifeq status "отклонено"}}
                <div
                  class="circularContainer absolute"
                  style="background-color: #f44336;"
                >
                  {{status}}
                </div>
              {{/ifeq}}

              {{!  }}

            </div>

            <div class="card-stacked">

              <div class="card-content" style="font-size: 25px;">

                <section class="section">

                  <div class="row">

                    <div class="col s6">
                      {{title}}
                    </div>

                    <div class="col s6 align-c price">
                      {{price}}
                    </div>

                  </div>

                  <div class="p10">

                    <li>
                      <span class="span_title">Тип</span>
                      <span class="span_text">{{type}}</span>
                    </li>

                    <li>
                      <span class="span_title">Площадь комнат</span>
                      <span class="span_text">{{space}} м²</span>
                    </li>

                    <li>
                      <span class="span_title">Комнат</span>
                      <span class="span_text">{{num_rooms}}</span>
                    </li>

                    <li>
                      <span class="span_title">Этаж</span>
                      <span class="span_text">{{level}}
                        из
                        {{total_level}}</span>
                    </li>

                    <li>
                      <span class="span_title">Ремонт</span>
                      <span class="span_text">{{repair}}</span>
                    </li>

                  </div>

                </section>

              </div>

              <div class="card-action align-r">

                {{!-- <a href="/items/{{_id}}/edit?allow=true"> --}}
                  <button
                    class="btn tooltipped transparent"
                    data-position="bottom"
                    data-tooltip="Изменить объявление"
                  >
                    <i
                      class="fa-solid fa-pen-to-square"
                      style="color: #4caf50;"
                    ></i>
                  </button>
                {{!-- </a> --}}

                <form action="/items/remove" method="POST">
                  <input type="hidden" name="id" value="{{_id}}" />
                  <button
                    class="btn tooltipped transparent"
                    data-position="bottom"
                    data-tooltip="Удалить объявление"
                  >
                    <i class="fa-solid fa-trash" style="color: #b71c1c;"></i>
                  </button>
                </form>

              </div>

            </div>

          </div>

        </a>
      </div>

    {{/each}}

  </div>

  {{!  }}

{{else}}
  <section class="my_container align-c">
    <h5 class="m100">Опубликованных объявлений пока нет</h5>
  </section>
{{/if}}